@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

#root {
  position: relative;
  display: flex;
  font-family: "Alice", serif;
  font-weight: 300;
  font-size: 1.2rem;
  max-width: 1280px;
  margin: 0;
  padding: 1rem;
  text-align: center;
}
a {
  text-decoration: none;
}
Link {
  color: blue;
}
a :hover {
  color: orange;
  background-color: white;
}
.mobileMenuItem {
}
