@import url("https://fonts.googleapis.com/css2?family=Alice&family=Merienda&display=swap");

#root {
  position: relative;
  display: flex;
  font-family: "Alice", serif;
  font-weight: 300;
  font-size: 1.2rem;
  max-width: 1280px;
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: #2d3748; /* gray.700*/
}
a {
  color: #2d3748;
  text-decoration: none;
}

a:hover {
  color: rgba(224, 154, 11, 1);
  background-color: white;
}
a:active {
  background-color: white;
}
.pageTitle {
  position: absolute;
  color: white;
  font-family: "Merienda", serif;
  font-style: italic;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgb(112, 111, 111);
}
.mobilePageTitle {
  font-family: "Merienda", serif;
  font-style: italic;
  font-weight: 400;
  color: rgba(224, 154, 11, 1);
}
.divider {
  text-align: center;
  width: 65vw;
  height: 2px;
  border: none;
  background: radial-gradient(
    circle,
    rgba(241, 229, 149, 0.8491771708683473) 0%,
    rgba(255, 246, 103, 1) 30%,
    rgba(224, 154, 11, 1) 50%,
    rgba(255, 246, 103, 1) 70%,
    rgba(241, 229, 149, 1) 100%
  );
}
