body {
  margin: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  color: rgb(53, 49, 49);
}
a {
  color: rgb(53, 49, 49);
  text-decoration: none;
}
a :hover {
  color: orange;
  background-color: white;
}
